
@font-face {
    font-family: "gilroy_regular ";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('font/regular/gilroy-regular.woff2') format('woff2')
}
@font-face {
    font-family: "gilroy ";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('font/semibold/gilroy-semibold.woff2') format('woff2')
}
@font-face {
    font-family: "gilroybold ";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('font/bold/gilroy-bold.woff2') format('woff2')
}
@font-face {
    font-family: "gilroylight";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('font/light/Gilroy-Light.woff2') format('woff2')
}
@font-face {
    font-family: "gilroyMedium ";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('font/medium/gilroy-medium.woff2') format('woff2')
}
html {
    scroll-behavior: smooth;
}
/* Button_state */

.inner_btn:hover{
    background: #FFDF86;
    box-shadow: 0px 2px 4px #CCCCCC;
    color: black;
}
.inner_btn:active{
    background: #FFBB0C;
    background-blend-mode: multiply;
    color: black;
}
button:focus{
    
    box-shadow: 0 0 0 2px rgb(247, 170, 56);
}
.btn2:hover{
    background: #FFFFFF;
    border: 3px solid #FFBC00;
    box-shadow: 0px 2px 4px #CCCCCC;
    color: black;
}
.btn2:active{
    background: rgba(255, 196, 30, 0.2);
    border: 3px solid #FFBC00;
    color: #242424;
}
/* 1 section */
*{
    box-sizing: border-box;
}
button{
    background: #FBC832;
    border-radius: 58px;
    border: none;
    font-family: "gilroyMedium ";
    font-size: 20px;
    color: rgba(0, 0, 0, 1) solid;
    cursor: pointer;
    outline: none;
}
p {
     margin-bottom: 0;
}   
.intro{
    max-width: 1366px;
    height: 837px;
    background-color:rgba(246, 246, 246, 1) ;
    margin: 0 auto;
    position: relative;
}
.container{
    max-width: 1146px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}
.header_wrapper{
    display: flex;
    position: absolute;
    right: 0;
    top: 37px;
}
.header_conteiner_vk{
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    width: 49px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.header_conteiner_vk+.header_conteiner_vk{
    margin-right: 97px;
    margin-left: 28px;
    
}

a{
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: rgba(36, 36, 36, 1);
}
.header{
    top: 0;
}
li+li{
    margin-left: 32px;
    padding: 0;
}
ul{
    margin-left: 0;
    list-style-type: none;
    margin-top: 54px;
    margin-bottom: 0;
}
.header_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "gilroy ";
}
.item1 {
    display: flex;
    padding: 0;
    

}
.item2{
    display: flex;
    padding: 0;
    margin-right: 514px;

}
.item3{
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    width: 49px;
    height: 49px;
    border-radius: 50%;
}
.back{
    background-image: url(/img/dog\ 1.jpg) ;
    width: 713px;
    height: 718px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.back2{
    z-index: 0;
    top: 313px;
    right: 158px;
    position: absolute;
}
.img1{
    top: 387px;
    left: 0;
    position: absolute;
}
.img2{
    top: 580px;
    left: 0;
    position: absolute;
}
.img3{
    top: 686px;
    left: 296px;
    position: absolute;
    height: auto;
}
.title{
    max-width: 659px;
    margin-top: 92px;
    margin-bottom: 0;
    font-family: "gilroybold ";
       
    font-size: 72px;
    line-height: 87px;
}
.tittle0{
    margin: 0;
    font-family: "gilroylight";
    font-size: 16px;
    line-height: 18px;
    color: rgba(107, 107, 107, 1);
}
.title1{
    max-width: 428px;
    font-family: "gilroy ";
    font-size: 24px;
    line-height: 29px;
    margin-top: 43px;
    margin-bottom: 0;
    color: #C78100;
}
.title2{
    font-family: "gilroy ";
    font-size: 16px;
    line-height: 140%;
    max-width: 659px;
    color: #474747;
}
.intro_btn{
    background: #FBC832;
    border-radius: 58px;
    width: 182px;
    height: 42px;
    border: none;
    font-family: "gilroyMedium ";
    font-size: 20px;
    line-height: 40px;
    margin-top: 44px;
    color: rgba(0, 0, 0, 1) solid;
    cursor: pointer;
}
/* ---------------------------------------------------------- */
/*  2 section */

.intro2{
    max-width: 1366px;
    height: 100vh;
    background-color:#FFFFFF;
    margin: 0 auto;
    position: relative;
    max-height: 650px;
    z-index: -1;
}
.intro2_img1{
    position: absolute;
    left: 0;
    top: 54px;
}
.intro2_img2{
    position: absolute;
    left: 78px;
    top: 54px;
}
   
.intro2_img3{
    position: absolute;
    left: 112px;
    top: 85px;
}
.intro2_circle{
    position: absolute;
    top: 350px;
    left: 383px;
}
.intro2_cat{
    position: absolute;
    top: 358px;
    left: 391px;
}
.intro2_wrapper{
    position: absolute;
    left: 693px;
    max-width: 466px;
}
.intro2_title{
    font-family: "gilroy ";
    font-size: 28px;
    line-height: 120%;
    color:rgba(199, 129, 0, 1) ;
    text-align: center;
    margin-top: 128px;
}
.intro2_title1{
    font-size: 16px;
    line-height: 140%;
    color: rgba(36, 36, 36, 1);
    font-family: "gilroy_regular ";
    margin-top: 28px;
}
.intro2_title2{
    font-size: 16px;
    line-height: 140%;
    color: rgba(36, 36, 36, 1);
    font-family: "gilroy_regular ";
    margin-top: 20px;
}
/* -------------------------------------------------- */
/* section 3 */

.tools_title{
    text-align: center;
    font-family: "gilroylight";
    font-weight: 300;
    font-size: 28px;
    line-height: 24px;
    color: #242424;;
    margin-top: 0;
    margin-bottom: 47px;
    padding-top: 80px;
}
.tit1{
    font-family: "gilroyMedium ";
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #474747;
    text-align: center;
    max-width: 166px;
    min-height: 66px;
    margin-top: 24px;
}

.tools__items{
    display: flex;
}
.tools__item+.tools__item{
    margin-left: 95px;
}   
.tools__item{
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #474747;
}
.container3{
    max-width: 1146px;
    height: 311px;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
}
.tools{
    max-width: 1366px;
    height: 576px;
    background-color:rgba(246, 246, 246, 1) ;
    margin: 0 auto;
    position: relative;
}
.item_img{
    border-radius: 50%;
    border: 2px solid rgba(255, 196, 30, 1);
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dog_home{
    position: absolute;
    bottom: -71px;
    left: 590px;
}
.line{
    position: absolute;
    width: 576px;
    left: 0;
    bottom: 0;
    border-bottom:  1px solid rgba(238, 191, 58, 1)
}
.line2{
    position: absolute;
    width: 576px;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid rgba(238, 191, 58, 1);
}
/* ______________________________________________________ */
/* section 4 */
.tools2{
    background-color:rgba(246, 246, 246, 1) ;
    margin: 0 auto;
    max-width: 1366px;
    height: auto;
}
    
.tools2_wrapper{
    display: flex;
}
.tools2_title{
    max-width: 389px;
    height: auto;
    margin-left: 284px;
    padding-top: 142px;
}
.tools2_title1{
    margin-left:97px ;
    max-width: 389px;
    height: auto;
    padding-top: 142px;
}
.tools2_title_h2{
    margin-top: 0;
    font-size: 28px;
    line-height: 24px;
    font-family: "gilroy ";
    color: #242424;
}
.tools2_title_p{
    font-size: 16px;
    line-height: 140%;
    font-family: "gilroy_regular ";
    color: #242424;
}
.tools2_title1_h3{
    font-size: 28px;
    line-height: 24px;
    color: #242424;
    text-align: center;
    font-family: "gilroylight";
    font-weight: 300;
    margin-top: 72px;
    margin-bottom: 32px;
}
.cart{
    width: 368px;
    height: 695px;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    border-radius: 5px;
}
.cart>img{
    margin-top: 16px;
    margin-left: 16px;
    width: 335px;
    height: 356px;
}
.cont{
    display: flex;
    max-width: 1145px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.padding{
    margin-top: 44px;
}
.cart1{
    margin-left: 16px;
    width: 335px;
}
.cart1_h3{
    font-size: 22px;
    line-height: 20px;
    color: #242424;
    text-align: center;
    font-family: "gilroyMedium ";
    font-weight: 500;
    margin: 0;
}
hr{
    border: 1px solid #D6D6D6;
}
.cart1_title{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #6B6B6B;
    margin:0 ;
    font-family: "gilroyMedium ";
    
}
.cart1_title1{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    font-family: "gilroyMedium ";
    color: #242424;
    margin: 0;
    padding-top: 6px;
    height: 95px;
}
.btn1{
    width: 209px;
    height: 42px;
    background: #FBC832;
    border-radius: 58px;
    text-align: center;
    margin-top: 33px;
    margin-left: 80px;
}
.btn2{
    border: 2px solid #FFC41E;
    box-sizing: border-box;
    border-radius: 58px;
    width:296px;
    height:42px ;
    background: #FFFFFF;
    margin-top: 17px;
    margin-left: 36px;
    text-align: center;
}
.a_title{
    margin-left: 451px;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    font-family: "gilroyMedium ";
    border-bottom: 1px solid #AD7F00;;
    color: #AD7F00;
}
.a_img{
    position: absolute;
    left: 669px;
    top: 1465px;
}
.cont_title{
    font-family: "gilroy_regular ";
    font-size: 18px;
    line-height: 24px;
    color: #242424;
    width: 583px;
    height: 48px;
    margin-left: 194px;
    margin-top: 65px;
    margin-bottom: 76px;
}
.vk{
    border-radius: 50%;
    border:1px solid rgba(255, 196, 30, 1);
    width: 49px;
    height: 49px;
}
.inner_tools{
    display: flex;
    margin-top: 64px;
    margin-right: 200px;
}  
.vk+.vk{
   margin-left: 32px;
}
.vk{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ________________________________________ */
/* section 5 */
.tools3{
    max-width: 1366px;
    height: 681px;
    margin: 0 auto;
    background:#FFFFFF;
    position: relative;
}
.line_1{
    position: absolute;
    width: 576px;
    left: 0;
    top: 93px;
    border-bottom: 1px solid rgba(238, 191, 58, 1)
}
.line_2{
    position: absolute;
    width: 576px;
    right: 0;
    top: 93px;
    border-bottom: 1px solid rgba(238, 191, 58, 1);
}
.hand{
    position: absolute;
    left: 619px;
    top: 46px;
}
.tools3_title{
    text-align: center;
    padding-top: 196px;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 28px;
    line-height: 24px;
    color: #242424;
    font-family: "gilroy ";
}
.tools3_p{
    text-align: center;
    width: 758px;
    height: 55px;
    margin-left: 304px;
    margin-top: 24px;
    font-size: 18px;
    line-height: 24px;
    color: #6B6B6B;
    font-family: "gilroyMedium ";
    font-weight: 500;
}
.title23{
    display: flex;
}
.title_p{
    width: 389px;
    height: auto;
    margin-left: 294px;
}
.title_2{
    width: 389px;
    height: auto;
    margin-left: 97px;
}
.weight_inner{
    font-size: 28px;
    line-height: 24px;
    color:  #242424;
    font-family: "gilroylight";
    margin-top: 40px;
    margin-bottom: 24px;
}
.tools3_inner_p{
    font-size: 16px;
    line-height: 29px;
    font-family: "gilroy_regular ";
    color: #242424;
}
.btn_title23{
    background: #FBC832;
    border-radius: 58px;
    width: 223px;
    height: 42px;
    margin-top: 24px;
}
/* __________________________________ */
/* section 6 */

.tools4{
    max-width: 1366px;
    height: 968px;
    margin: 0 auto;
    background:rgba(246, 246, 246, 1);
    position: relative;
}
.tools4_line_1{
    position: absolute;
    width: 576px;
    left: 0;
    top: 99px;
    border-bottom: 1px solid rgba(238, 191, 58, 1)
}
.tools4_line_2{
    position: absolute;
    width: 576px;
    right: 0;
    top: 99px;
    border-bottom: 1px solid rgba(238, 191, 58, 1);
}
.hand1{
    position: absolute;
    left: 619px;
    top: 49px;
}
.tools_h4{
    margin: 0 0;
}
.tools4_title{
    width: 690px;
    height: auto;
    padding-top: 202px;
    margin-left: 402px;
}
.tools4_title>p{
    margin-top: 24px;
    font-size: 16px;
    line-height: 140%;
    font-family: "gilroy_regular ";
}
    
.title4_semibold{
    font-family: "gilroy ";
    font-size: 28px;
    line-height: 24px;
    color:#242424;
}
.tools4_title>a{
    border-bottom: 1px solid #AD7F00;
    font-size: 20px;
    line-height: 40px;
    font-family: "gilroyMedium ";
    color: #AD7F00;
    margin-top: 16px;
}
.tools_p6{
    margin-bottom: 16px;
}
/* ___________________________ */
/* section 7 */

.tools7{
    max-width: 1366px;
    height: 418px;
    margin: 0 auto;
    background:rgba(246, 246, 246, 1);
    position: relative;
}
.tools4_line_4{
    position: absolute;
    width: 576px;
    right: 0;
    top: 0;
    border-bottom: 1px solid rgba(238, 191, 58, 1);
}
.tools4_line_3{
    position: absolute;
    width: 576px;
    left: 0;
    top: 0;
    border-bottom: 1px solid rgba(238, 191, 58, 1)
}
.dog_car{
    position: absolute;
    left: 595px;
    top: -60px;
}
.tools7_h2{
    padding-left: 402px;
    padding-top: 103px;
    font-size: 28px;
    line-height: 24px;
    color: #242424;
    font-family: "gilroy ";
    margin-top: 0;
}
.tools7_p{
    width: 680px;
    height: auto;
    margin-left: 402px;
    margin-top: 24px;
    font-family: "gilroy_regular ";
    font-size: 16px;
    line-height: 140%;
}
.tools4_btn{
    background: #FBC832;
    border-radius: 58px;
    width: 223px;
    height: 42px;
    margin: 24px 402px;
}
/* __________________________________ */
/* section 8 */

.tools8{
    max-width: 1366px;
    height: 624px;
    margin: 0 auto;
    background:rgba(246, 246, 246, 1);
    position: relative;
}
.tools8_line_1{
    position: absolute;
    width: 576px;
    right: 0;
    top: 0;
    border-bottom: 1px solid rgba(238, 191, 58, 1)
}
.tools8_line_2{
    position: absolute;
    width: 576px;
    left: 0;
    top: 0;
    border-bottom: 1px solid rgba(238, 191, 58, 1)
}
.tools8_img{
    position: absolute;
    left: 595px;
    top: -60px;
}
.tools8_wrapper{
    position: absolute;
    left: 693px;
    max-width: 466px
}
.tools8_h2{
    margin: 166px 0 0;
    font-size: 28px;
    line-height: 24px;
    color: #242424;
    font-family: "gilroy ";
}
.tools8_p{
    margin-top: 24px;
    color: #242424;
    font-size: 16px;
    line-height: 140%;
    font-family: "gilroy_regular ";
}   
.tools8_p+.tools8_p{
    margin-top: 3px;
}
.tools8_btn{
    background: #FBC832;
    border-radius: 58px;
    width: 223px;
    height: 42px;
    margin-top: 24px;
}
/* ________________________ */
/* section 9 */

.tools9{
    max-width: 1366px;
    height: 563px;
    margin: 0 auto;
    background:#FFFFFF;
    position: relative;
}
.tools9_inner{
 display: flex;
 justify-content: center;
 margin-top: 40px;
}
.tools9_h2{
    text-align: center;
    padding-top: 54px;
    margin-top: 0;
    font-size: 28px;
    line-height: 24px;
    color: #242424;
    font-family: "gilroy ";
}
.tools9_p{
    max-width: 603px;
    height: auto;
    margin-left: 35px;
    font-size: 16px;
    line-height: 140%;
    font-family: "gilroy_regular ";
    color: #242424;
}
.tools_wrapper_a{
    margin-left: 304px;
    margin-top: 24px;
    font-family: "gilroyMedium ";
    font-size: 20px;
    line-height: 40px;
    color: rgba(173, 127, 0, 1);
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid #AD7F00;;
}
/* ______________________________________- */
/* section 10 */

.tools10{
    max-width: 1366px;
    height: 594px;
    margin: 0 auto;
    background:rgba(246, 246, 246, 1);
    position: relative;
}
.tools10_h2{
    text-align: center;
    font-size: 28px;
    line-height: 24px;
    font-family: "gilroy ";
    color: #242424;
    padding-top: 56px;
}
.tools10_h2{
    margin: 0;
}
.tools10>p{
    margin-left: 402px;
    color: #242424;
    max-width: 680px;
    height: auto;
}
.tools10_p1{
    font-size: 18px;
    line-height: 24px;
    color: #242424;
    font-family: "gilroyMedium ";
    font-weight: 500;
    margin-top: 40px;
}
.tools10_p2{
    font-size: 22px;
    line-height: 26px;
    font-family: "gilroy_regular ";
    color: #242424;
    margin-top:24px ;
}

.tools10_p3{
    font-size: 16px;
    line-height: 140%;
    font-family: "gilroy_regular ";
    margin-top:24px ;
}
.tools10_p4{
    margin-top: 40px;
    font-size: 16px;
    line-height: 140%;
    font-family: "gilroy_regular ";
    color: #6B6B6B;
}
.inner_tools10{
    display: flex;
    padding-left: 402px;
    padding-top: 16px;
}
/* _________________________ */
/* section 11 */
.tools11{
    max-width: 1366px;
    height: 741px;
    margin: 0 auto;
    background:url("/img/Labrador.jpg") no-repeat;
    position: relative;
}
    
.img-post{
    position: absolute;
    left: 0;
    top: 119px;
    mix-blend-mode: soft-light;
}
.img_lapa{
    position: absolute;
    top: 373px;
    left: 461px;
}
.tools1_1p{
    width:346px ;
    height: auto;
    font-size: 64px;
    line-height: 77px;
    color: #FFFFFF;
    font-family: "gilroybold ";
    padding-top: 303px;
    margin-left: 134px;
    margin-top: 0;
}
/* _________________________ */
/* Footer */
.tools12_wrapper{
    width: 1366px;
    height: 117px;
    background:rgba(246, 246, 246, 1);
    margin: 0 auto;
}
.tools12{
    display: flex;
}
.tools12_item{
    display: flex;
    padding-top: 40px;
    padding-left: 0;
    margin-left: 110px;
    margin-top: 0;
}
.a_decoration{
    border-bottom: 1px solid #9b8c8c;;
    font-size: 14px;
    line-height: 17px;
    font-family: "gilroy ";
    color: #474747;
}
.tools12_item>li+li{
    margin-left: 40px;
}
.tools12_item2{
    display: flex;
    margin-left: 122px;
    padding-top: 40px;
    padding-left: 0;
    margin-top: 0;
}
.tools12_item2>li+li{
    margin-left: 42px;
}
.tools12_p{
    text-align: center;
    font-size: 12px;
    line-height: 140%;
    color: #B3B3B3;
    font-family: "gilroy_regular ";
    padding-top: 24px;
}
    